@model CAFE.Models.courier
@{ Layout = null; }
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
    .Rectangle {
        position: absolute;
        width: 600px;
        height: 650px;
        left: 420px;
        top: 50px;
        background: #FFFFFF;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
    }

    .ellipse1 {
        position: absolute;
        left: 0px;
        top: 572px;
    }

    .ellipse2 {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .add {
        width: 497px;
        position: absolute;
        top: 50px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add1 {
        width: 497px;
        position: absolute;
        top: 130px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add2 {
        width: 497px;
        position: absolute;
        top: 210px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add3 {
        width: 497px;
        position: absolute;
        top: 290px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add4 {
        width: 497px;
        position: absolute;
        top: 370px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add5 {
        width: 497px;
        position: absolute;
        top: 450px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add6 {
        width: 497px;
        position: absolute;
        top: 530px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .Sname {
        position: absolute;
        left: 50px;
        top: 10px;
        font-family: Montserrat;
    }

    .Name {
        position: absolute;
        left: 50px;
        top: 90px;
        font-family: Montserrat;
    }

    .Pname {
        position: absolute;
        left: 50px;
        top: 170px;
        font-family: Montserrat;
    }

    .Number {
        position: absolute;
        left: 50px;
        top: 250px;
        font-family: Montserrat;
    }

    .Email {
        position: absolute;
        left: 50px;
        top: 330px;
        font-family: Montserrat;
    }

    .Login {
        position: absolute;
        left: 50px;
        top: 410px;
        font-family: Montserrat;
    }

    .Password {
        position: absolute;
        left: 50px;
        top: 490px;
        font-family: Montserrat;
    }

    .zzzz {
        position: absolute;
        height: 30px;
        left: 50px;
        bottom: 20px;
        background: #FF6D03;
        border: 6px solid #FF6D03;
        border-radius: 6px;
        font-family: Montserrat;
    }
    .zz {
        position: absolute;
        height: 30px;
        right: 50px;
        bottom: 20px;
        background: #FF6D03;
        border: 6px solid #FF6D03;
        border-radius: 6px;
        text-align: center;
        width: 150px;
        font-family: Montserrat;
    }
</style>
<img src="/images/ellipse1.png" class="ellipse1" />
<img src="/images/ellipse2.png" class="ellipse2" />
<div class="Rectangle">
    <form asp-action="Addcourier" asp-controller="Home" asp-anti-forgery="true">
        <div asp-validation-summary="ModelOnly"></div>
        <label asp-for="c_Sname" class="Sname">Фамилия</label>
        <input required="" class="add" type="text" asp-for="c_Sname" />
        <span asp-validation-for="c_Sname" />
        <label class="Name" asp-for="c_name">Имя</label>
        <input required="" class="add1" type="text" asp-for="c_name" />
        <span asp-validation-for="c_name" />
        <label class="Pname" asp-for="c_Pname">Отчество</label>
        <input required="" class="add2" type="text" asp-for="c_Pname" />
        <span asp-validation-for="c_Pname" />
        <label class="Number" asp-for="c_phone">Номер телефона</label>
        <input required="" class="add3" type="text" asp-for="c_phone" />
        <span asp-validation-for="c_phone" />
        <label class="Email" asp-for="c_email">Почта</label>
        <input required="" class="add4" type="text" asp-for="c_email" />
        <span asp-validation-for="c_email" />
        <label class="Login" asp-for="c_login">Логин</label>
        <input required="" class="add5" type="text" asp-for="c_login" />
        <span asp-validation-for="c_login" />
        <label class="Password" asp-for="c_password">Пароль</label>
        <input required="" class="add6" asp-for="c_password" />
        <span asp-validation-for="c_password" />
        <input type="submit" value="Зарегистрироваться" class="zzzz"/>
    </form>
    <form action="/Logincourier"><button class="zz">Войти</button></form>
</div>
