@{ ViewBag.Title = "Addcustomer";
    Layout = null; }
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="../js/script8.js"></script>
<style>
    .item-title {
        font-family: Montserrat;
    }
    .item-price {
        font-family: Montserrat;
    }
    .shopping_list {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }
    .cena {
        font-family: Montserrat;
        width: 150px;
    }
    .sss {
        font-family: Montserrat;
        width: 150px;
    }
    .ss {
        font-family: Montserrat;
        text-align: center;
    }
    .minus_item {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        background-color: #FF6D03;
        text-align: center;
        line-height: 30px;
        color: black;
        cursor: pointer;
        margin-right: 5px;
    }
    .plus_item {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        background-color: #FF6D03;
        text-align: center;
        line-height: 30px;
        color: black;
        cursor: pointer;
        margin-left: 5px;
    }
    .minus_item {
        cursor: pointer
    }

    .plus_item {
        cursor: pointer
    }
    .Rectangle {
        position: relative;
        width: 585px;
        left: 420px;
        top: 50px;
        background: #FFFFFF;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
    }
    .ellipse1 {
        position: absolute;
        left: 0px;
        top: 1100px;
    }

    .ellipse2 {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .add {
        position: relative;
        width: 511px;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add1 {
        width: 511px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add2 {
        width: 511px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }
    .add3 {
        width: 511px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add4 {
        width: 511px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add5 {
        width: 511px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add6 {
        width: 120px;
        position: relative;
        left: 35px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add7 {
        width: 120px;
        position: relative;
        bottom: 93px;
        left: 230px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add8 {
        width: 120px;
        position: relative;
        left: 425px;
        background: #FFFFFF;
        bottom: 186px;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .Sname {
        position: relative;
        left: 50px;
        font-family: Montserrat;
        padding-top: 20px;
    }

    .Name {
        position: relative;
        font-family: Montserrat;
        left: 50px;
        padding-top: 20px;
    }

    .Pname {
        position: relative;
        font-family: Montserrat;
        padding-top: 20px;
        left: 50px;
    }

    .Number {
        position: relative;
        font-family: Montserrat;
        padding-top: 20px;
        left: 50px;
    }

    .Email {
        position: relative;
        font-family: Montserrat;
        padding-top: 20px;
        left: 50px;
    }

    .Street {
        position: relative;
        font-family: Montserrat;
        padding-top: 20px;
        left: 50px;
    }

    .House {
        position: relative;
        padding-top: 20px;
        font-family: Montserrat;
        left: 50px;
    }

    .Entrance {
        position: relative;
        bottom: 90px;
        padding-top: 20px;
        font-family: Montserrat;
        left: 240px;
    }

    .Apartment {
        position: relative;
        padding-top: 20px;
        bottom: 183px;
        left: 440px;
        font-family: Montserrat;
    }
    .namesss {
        font-family: Montserrat;
        width: 300px;
    }
    .zzzz {
        position: relative;
        height: 30px;
        left: 43.5%;
        bottom: 120px;
        background: #FF6D03;
        border: 6px solid #FF6D03;
        border-radius: 6px;
    }
    .test {
        font-family: Montserrat;
    }
    .f {
        font-family: Montserrat;
        text-align: center;
    }
    .ff {
        text-align: center;
    }
    .navigation {
        position: absolute;
        width: 205px;
        height: 29px;
        left: 21px;
        top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
</style>
<img src="/images/ellipse1.png" class="ellipse1" />
<img src="/images/ellipse2.png" class="ellipse2" />
<a href="/"><div class="navigation">Главная</div></a>
<div class="Rectangle">
    <div id="cart_content"></div>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.customers" />
                <p class="Sname">Фамилия</p>
                <input type="text" required="" name="cus_Sname" class="add" />
                <p class="Name">Имя</p>
                <input type="text" required="" name="cus_Name" class="add1" />
                <p class="Pname">Отчество</p>
                <input type="text" required="" name="cus_Pname" class="add2" />
                <p class="Number">Телефон</p>
                <input type="text" required="" name="cus_number" class="add3" />
                <p class="Email">Почта</p>
                <input type="text" required="" name="cus_email" class="add4" />
                <p class="Street">Улица</p>
                <input type="text" required="" name="cus_street" class="add5" />
                <p class="House">Дом</p>
                <input type="text" required="" name="cus_house" class="add6" />
                <p class="Entrance">Подъезд</p>
                <input type="text" required="" name="cus_entrance" class="add7" />
                <p class="Apartment">Квартира</p>
                <input type="text" required="" name="cus_apartment" class="add8" />
            <div id="pust"><input type="submit" value="Заказать" class="zzzz" onclick="sendData()" /></div>
    </form>
</div>
