@{ ViewBag.Title = "Addcustomer";
    Layout = null; }
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<script src="../js/script7.js"></script>
<style>
    .item-title {
        font-family: Montserrat;
    }
    .item-price {
        font-family: Montserrat;
    }
    .shopping_list {
        width: 100%;
        margin-top: 10px;
        border-collapse: collapse;
    }
    .cena {
        font-family: Montserrat;
        width: 150px;
    }
    .sss {
        font-family: Montserrat;
        width: 150px;
    }
    .ss {
        font-family: Montserrat;
        text-align: center;
    }
    .minus_item {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        background-color: #FF6D03;
        text-align: center;
        line-height: 30px;
        color: black;
        cursor: pointer;
        margin-right: 5px;
    }
    .plus_item {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 30%;
        background-color: #FF6D03;
        text-align: center;
        line-height: 30px;
        color: black;
        cursor: pointer;
        margin-left: 5px;
    }
    .minus_item {
        cursor: pointer
    }

    .plus_item {
        cursor: pointer
    }
    .Rectangle {
        position: absolute;
        width: 600px;
        height: 1150px;
        left: 420px;
        top: 50px;
        background: #FFFFFF;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
    }
    .ellipse1 {
        position: absolute;
        left: 0px;
        top: 1100px;
    }

    .ellipse2 {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .add {
        width: 511px;
        position: absolute;
        top: 540px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add1 {
        width: 511px;
        position: absolute;
        top: 620px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add2 {
        width: 511px;
        position: absolute;
        top: 700px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }
    .add3 {
        width: 511px;
        position: absolute;
        top: 780px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add4 {
        width: 511px;
        position: absolute;
        top: 860px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add5 {
        width: 511px;
        position: absolute;
        top: 940px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add6 {
        width: 120px;
        position: absolute;
        top: 1020px;
        right: 440px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add7 {
        width: 120px;
        position: absolute;
        top: 1020px;
        right: 245px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add8 {
        width: 120px;
        position: absolute;
        top: 1020px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .Sname {
        position: absolute;
        left: 50px;
        top: 500px;
        font-family: Montserrat;
    }

    .Name {
        position: absolute;
        left: 50px;
        top: 580px;
        font-family: Montserrat;
    }

    .Pname {
        position: absolute;
        left: 50px;
        top: 660px;
        font-family: Montserrat;
    }

    .Number {
        position: absolute;
        left: 50px;
        top: 740px;
        font-family: Montserrat;
    }

    .Email {
        position: absolute;
        left: 50px;
        top: 820px;
        font-family: Montserrat;
    }

    .Street {
        position: absolute;
        left: 50px;
        top: 900px;
        font-family: Montserrat;
    }

    .House {
        position: absolute;
        left: 50px;
        top: 980px;
        font-family: Montserrat;
    }

    .Entrance {
        position: absolute;
        left: 245px;
        top: 980px;
        font-family: Montserrat;
    }

    .Apartment {
        position: absolute;
        left: 440px;
        top: 980px;
        font-family: Montserrat;
    }
    .namesss {
        font-family: Montserrat;
        width: 300px;
    }
    .zzzz {
        position: absolute;
        height: 30px;
        left: 40.69%;
        right: 40.62%;
        bottom: 20px;
        background: #FF6D03;
        border: 6px solid #FF6D03;
        border-radius: 6px;
    }
    .test {
        font-family: Montserrat;
    }
    .f {
        font-family: Montserrat;
        text-align: center;
    }
    .ff {
        text-align: center;
    }
    .navigation {
        position: absolute;
        width: 205px;
        height: 29px;
        left: 21px;
        top: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
    }
</style>
<img src="/images/ellipse1.png" class="ellipse1" />
<img src="/images/ellipse2.png" class="ellipse2" />
<a href="/"><div class="navigation">Главная</div></a>
<div class="Rectangle">
    <div id="cart_content"></div>
    <form method="post" action="">
        <input type="hidden" value="@ViewBag.customers" />
        <table>
            <tr>
                <td class="Sname"><p>Фамилия</p></td>
                <td><input type="text" required="" name="cus_Sname" class="add" /></td>
                <td class="Name"><p>Имя</p></td>
                <td><input type="text" required="" name="cus_Name" class="add1" /></td>
                <td class="Pname"><p>Отчество</p></td>
                <td><input type="text" required="" name="cus_Pname" class="add2" /></td>
                <td class="Number"><p>Номер телефона</p></td>
                <td><input type="text" required="" name="cus_number" class="add3" /></td>
                <td class="Email"><p>Почта</p></td>
                <td><input type="text" required="" name="cus_email" class="add4" /></td>
                <td class="Street"><p>Улица</p></td>
                <td><input type="text" required="" name="cus_street" class="add5" /></td>
                <td class="House"><p>Дом</p></td>
                <td><input type="text" required="" name="cus_house" class="add6" /></td>
                <td class="Entrance"><p>Подъезд</p></td>
                <td><input type="text" required="" name="cus_entrance" class="add7" /></td>
                <td class="Apartment"><p>Квартира</p></td>
                <td><input type="text" required="" name="cus_apartment" class="add8" /></td>
            </tr>
            <tr><td><div id="pust"><input type="submit" value="Заказать" class="zzzz" onclick="sendData()" /></div> </td><td></td></tr>
        </table>
    </form>
</div>
