@{
    ViewBag.Title = "Endreservation";
    Layout = null;
}
<style>
    .ellipse1 {
        position: absolute;
        left: 0px;
        top: 572px;
    }
    .ellipse2 {
        position: absolute;
        right: 0%;
        top: 0%;
    }
    .za {
        position: absolute;
        width: 792px;
        left: 324px;
        top: 187px;
        font-size: 70px;
        text-align: center;
        font-family: monospace;
    }
</style>
<img src="/images/ellipse1.png" class="ellipse1" />
<img src="/images/ellipse2.png" class="ellipse2" />
<p class="za">Ваша заявка принята!</p> 
