@{ ViewBag.Title = "Reservation";
                Layout = null; }
<link href="https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
<style>
    .Rectangle {
        position: absolute;
        width: 600px;
        height: 500px;
        left: 420px;
        top: 82px;
        background: #FFFFFF;
        border: 2px solid #E5E5E5;
        box-sizing: border-box;
    }

    .ellipse1 {
        position: absolute;
        left: 0px;
        top: 572px;
    }

    .ellipse2 {
        position: absolute;
        right: 0%;
        top: 0%;
    }

    .Ntable {
        position: absolute;
        left: 50px;
        top: 10px;
    }

    .Time {
        position: absolute;
        left: 50px;
        top: 90px;
    }

    .add {
        width: 511px;
        position: absolute;
        top: 50px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .add1 {
        width: 511px;
        position: absolute;
        top: 130px;
        right: 50px;
        background: #FFFFFF;
        border: 2px solid #FF6D03;
        border-radius: 3px;
    }

    .zzzz {
        position: absolute;
        height: 30px;
        left: 40.69%;
        right: 40.62%;
        bottom: 20px;
        background: #FF6D03;
        border: 6px solid #FF6D03;
        border-radius: 6px;
    }

    a {
        text-decoration: none;
    }
</style>
<img src="/images/ellipse1.png" class="ellipse1" />
<img src="/images/ellipse2.png" class="ellipse2" />
<div class="Rectangle">
    <form method="post">
        <input type="hidden" value="@ViewBag.tables" />
        <p class="Ntable">Номер стола</p>
        <select name="table_number" class="add">
            <option>1</option>
            <option>2</option>
            <option>3</option>
        </select>
        <p class="Time">Время</p>
        <input type="datetime" name="table_order_time" class="add1" />
        <input type="submit" value="Забронировать" class="zzzz" />
    </form>
</div>